@model _7071Sprint1Demo.Models.Shift

@{
    ViewData["Title"] = "Shift Details";
}

<div style="margin-top:7rem; min-height:80vh;">
    <a asp-action="Index" class="text-decoration-none" style="color:#3d5cd7;font-weight:500;">
        <i class="bi bi-arrow-left"></i> Back to List
    </a>
    <h2 class="mt-2 mb-4">Shift Details</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>
        <dt class="col-sm-2">
            Start Date and Time
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShiftStart)
        </dd>
        <dt class="col-sm-2">
            End Date and Time
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShiftEnd)
        </dd>
        <dt class="col-sm-2">
            Is Recurring
        </dt>
        <dd class="col-sm-10">
            @(Model.IsRecurring ? "Yes" : "No")
        </dd>
    </dl>
</div>