@model _7071Sprint1Demo.Models.Shift

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Shift</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiftStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiftEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRecurring)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRecurring)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
