@model _7071Sprint1Demo.Models.RentInvoice

@{
    ViewData["Title"] = "Delete Rent Invoice";
}

<div style="margin-top:7rem; min-height:80vh;">
    <a asp-action="Index" class="text-decoration-none" style="color:#3d5cd7;font-weight:500;">
        <i class="bi bi-arrow-left"></i> Back to List
    </a>
    <h2 class="mt-2 mb-4">Delete this Rent Invoice?</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Asset Type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset.Type)
        </dd>
        <dt class="col-sm-2">
            Renter Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Renter.Name)
        </dd>
        <dt class="col-sm-2">
            Issue Date
        </dt>
        <dd class="col-sm-10">
            @Model.IssueDate.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            Due Date
        </dt>
        <dd class="col-sm-10">
            @Model.DueDate.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            Amount Due
        </dt>
        <dd class="col-sm-10">
            @Model.AmountDue.ToString("C")
        </dd>
        <dt class="col-sm-2">
            Is Paid
        </dt>
        <dd class="col-sm-10">
            @(Model.IsPaid ? "Yes" : "No")
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Confirm Delete" class="btn btn-danger" />
    </form>
</div>