@model IEnumerable<_7071Sprint1Demo.Models.Attendance>

@{
    ViewData["Title"] = "Attendance";
    int count = Model.Count();
}

<div style="margin-top:7rem; min-height:80vh;">
    <div class="d-flex justify-content-between mb-4">
        <div class="d-flex gap-3 align-items-center">
            <h2 class="mb-0">Attendance</h2>
            <div class="px-4 py-1 bg-primary bg-opacity-10 justify-content-center align-content-center" style="border-radius: 1rem;">
                <h4 class="fw-normal mb-0 text-primary">@count</h4>
            </div>
        </div>
        <a asp-action="Create" class="btn btn-primary px-3 py-2" style="height:fit-content;font-size:1.1rem;border-radius:0.5rem;">Create New</a>
    </div>

    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Employee</th>
                    <th>Shift</th>
                    <th>ApprovedByManager</th>
                    <th>Notes</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Shift.Id)
                        </td>
                        <td>
                            @(item.ApprovedByManager ? "Yes" : "No")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Notes)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="text-decoration-none">
                                <i class="bi bi-pencil"></i> Edit
                            </a> |
                            <a asp-action="Details" asp-route-id="@item.Id" class="text-decoration-none">
                                <i class="bi bi-eye"></i> Details
                            </a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" class="text-decoration-none" style="color:#eb1c1c;">
                                <i class="bi bi-trash"></i> Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="text-muted">Hmm ... no results found. Please create a new Attendance to get started.</p>
    }
</div>