@model Assignment2.Server.Models.ServiceBooking

@{
    ViewBag.Title = "Schedule Service";
}

<h2>Schedule Service</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Service Scheduling</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.ServiceId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ServiceId", (SelectList)ViewBag.Services, "Select a Service", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ServiceId)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ScheduledDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScheduledDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.ScheduledDate)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("AssignedEmployees", "Assign Employees", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBox("AssignedEmployees", (MultiSelectList)ViewBag.Employees, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Schedule Service" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
}
