@model IEnumerable<_7071Sprint1Demo.Models.Payroll>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasePay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deductions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OvertimePay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetPay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasePay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deductions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OvertimePay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetPay)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
